/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
/* .right-text{
    width: 30vw;
    margin-right: 32vw;
    margin-top: -2vw;

} */

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #fff;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #fff;
    color:#056883;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
    margin-bottom: 0px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #fff;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #056883;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #056883;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #056883;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #056883;
    background-color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec 
{
    width: 70px;
    height: 3px;
    background-color:  #0789ad;
    margin: 10px auto;
}

.section-heading span 
{
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #056883;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #056883;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #056883;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
    width: 300px;
    margin-left: 5vw;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}


/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item .first-service-icon {
    background-image: url(../images/webwhite.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../images/webblue.png);
}

.service-item .second-service-icon {
    background-image: url(../images/appwhite.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/appblue.png);
}

.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.png);
}


/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: #056883;
    border-bottom: 2px solid #056883;
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff;
}

.isotope-item {
    position: relative;
    width: 48%;
    margin: 1%;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h4 {
    margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}
figure.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}
figure.snip1321 i {
  position: relative!important;
  font-size: 18px;
  background-color: #056883;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}


/* Timeline styles */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:  #056883;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .tmcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .tmcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid  #056883;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .right::after {
    left: -12px;
  }

  .content {
    padding: 20px 30px;
    background-color: #2e1b32;
    position: relative;
    border-radius: 6px;
  }

  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }

    .tmcontainer {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    .tmcontainer::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
      left: 17px;
    }

    .right {
      left: 0%;
    }
  }

  /* Additional styling for timeline title */
  .timeline-title {
    text-align: center;
    margin-bottom: 2rem;
  }

/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        display: none; /* Hide all items initially */
    }
    
    .isotope-item {
        display: block;
        width: 94%;
        margin: 3%;
    }
    .left-image-post img {
        margin-bottom: 30px;
    }
    .right-image-post img {
        margin-top: 30px;
    }
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
}








/* Tech Skill chart */

/*.skill-section{
    display: flex;
}

.skills {
    margin: 0.5rem;
    width: 50%;
    position: relative;
    top: 50%;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 13px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
  .skills-bar {
    padding: 25px 30px;
  }
  
  .skills-bar .bar {
    margin: 25px 0;
  }
  
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background: #056883;
 
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  


  .progress-line .python {
    width: 90%;
  }
  .progress-line .django {
    width: 85%;
  }
  .progress-line .android {
    width: 85%;
  }
  .progress-line .html {
    width: 85%;
  }
  .progress-line .php {
    width: 60%;
  }
  .progress-line .javascript {
    width: 70%;
  }
  .progress-line .java {
    width: 55%;
  }
  .progress-line .css {
    width: 80%;
  }
  .progress-line .blockchain {
    width: 75%;
  }
  .progress-line .machine-learning {
    width: 75%;
  }
 

 
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  
  .progress-line .python::after {
    content: "90%";
  }
  .progress-line .django::after {
    content: "85%";
  }
  .progress-line .android::after {
    content: "85%";
  }
  .progress-line .html::after {
    content: "85%";
  }
  .progress-line .css::after {
    content: "80%";
  }
  .progress-line .javascript::after {
    content: "70%";
  }
  .progress-line .php::after {
    content: "60%";
  }
  .progress-line .java::after {
    content: "50%";
  }
  .progress-line .blockchain::after {
    content: "75%";
  }
  .progress-line .machine-learning::after {
    content: "75%";
  }
  
  /* ////........Media Query........//// */
  
  /*@media (max-width: 700px) {
      .skills{
          width: 80%;
      }
  
      .skills-bar .bar .progress-line{
          width: 100%;
      }
  }      

  .skill-heading{
    padding-top: 2rem;
    margin-bottom: 0;
    margin-top: 2rem;
    text-align: center;
  }


  /* Professional skill chart  */

  /*.skill-div{
    margin-top: 2rem;
    height: 30%; 
    display: flex; 

  }
  
  .svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    margin-left: 20px;
    animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
    /*0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    transform-origin: center;
    stroke: #FF6200;
}

.donut-segment-2 {
    stroke: #056883;
    animation: donut1 3s;
}

.donut-segment-3 {
    stroke: #056883;
    animation: donut2 3s;
}

.donut-segment-4 {
    stroke: #056883;
    animation: donut3 3s;
}
.donut-segment-5{
    stroke: #056883;
    animation: donut4 3s;
}

.segment-1{fill:#ccc;}
.segment-2{fill:aqua;}
.segment-3{fill:#d9e021;}
.segment-4{fill:#ed1e79;}

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 80, 20;
    }
}

@keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 99, 1;
    }
}

@keyframes donut3{
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 95,5;
    }
}

@keyframes donut4{
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 90,10;
    }
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #056883;
}
.donut-text-1 {
    fill: #056883;
}
.donut-text-2 {
    fill: #056883;
}
.donut-text-3 {
    fill: #056883;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.17em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#fff;
    fill: #fff;
    animation: donutfadelong 1s;
}











/* Tech Skill chart */

.skill-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills {
    margin: 0.5rem;
    width: 50%;
    position: relative;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 13px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
    padding: 25px 30px;
}

.skills-bar .bar {
    margin: 25px 0;
}

.skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
}

.skills-bar .bar .info {
    margin-bottom: 8px;
    color: #ffffff;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 10s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
    position: absolute;
    background: #056883;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 10s 6s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

/* Progress Line Widths */
.progress-line .python { width: 90%; }
.progress-line .django { width: 85%; }
.progress-line .android { width: 85%; }
.progress-line .html { width: 85%; }
.progress-line .php { width: 60%; }
.progress-line .javascript { width: 70%; }
.progress-line .java { width: 50%; }
.progress-line .css { width: 80%; }
.progress-line .blockchain { width: 75%; }
.progress-line .machine-learning { width: 75%; }

/* Progress Line Span Styles */
.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0;
    border-top-color: #07374a;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #07374a;
    padding: 1px 8px;
    border-radius: 3px;
}

/* Progress Line Span Content */
.progress-line .python::after { content: "90%"; }
.progress-line .django::after { content: "85%"; }
.progress-line .android::after { content: "85%"; }
.progress-line .html::after { content: "85%"; }
.progress-line .css::after { content: "80%"; }
.progress-line .javascript::after { content: "70%"; }
.progress-line .php::after { content: "60%"; }
.progress-line .java::after { content: "50%"; }
.progress-line .blockchain::after { content: "75%"; }
.progress-line .machine-learning::after { content: "75%"; }

.skill-heading {
    padding-top: 2rem;
    margin-bottom: 0;
    margin-top: 2rem;
    text-align: center;
}

/* Media Queries for Responsive Design */

@media (max-width: 760px) {
    .skills {
        width: 100%;
        margin-bottom: 1rem;
    }

    .skill-section {
        flex-direction: column;
        align-items: center;
    }

    .skills-bar {
        padding: 15px 20px;
    }

    .skills-bar .bar .progress-line {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .skills-bar .bar .info span {
        font-size: 0.9rem;
    }

    .skills-bar .bar .info {
        margin-bottom: 6px;
    }

    .skills-bar .bar .progress-line {
        height: 8px;
    }
}

/* Professional skill chart */

.skill-div {
    margin-top: 2rem;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.svg-item {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    margin-left: 20px;
    animation: donutfade 1s;
}

@keyframes donutfade {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .svg-item {
        width: 80%;
    }
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    transform-origin: center;
    stroke: #FF6200;
}

.donut-segment-2 {
    stroke: #056883;
    animation: donut1 25s;
}

.donut-segment-3 {
    stroke: #056883;
    animation: donut2 25s;
}

.donut-segment-4 {
    stroke: #056883;
    animation: donut3 25s;
}

.donut-segment-5 {
    stroke: #056883;
    animation: donut4 25s;
}

.segment-1 { fill: #ccc; }
.segment-2 { fill: aqua; }
.segment-3 { fill: #d9e021; }
.segment-4 { fill: #ed1e79; }

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 80, 20;
    }
}

@keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 90, 10;
    }
}

@keyframes donut3 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 95, 5;
    }
}

@keyframes donut4 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 90, 10;
    }
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #056883;
}

.donut-text-1,
.donut-text-2,
.donut-text-3 {
    fill: #056883;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.17em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color: #fff;
    fill: #fff;
    animation: donutfadelong 1s;
}

/* Media Queries for Professional Skills */

@media (max-width: 760px) {
    .skill-div {
        flex-direction: column;
        align-items: center;
    }

    .svg-item {
        width: 80%;
        margin: 10px auto;
    }
}

@media (max-width: 600px) {
    .svg-item {
        width: 100%;
    }
}

.progress-line {
    transition: transform 1s cubic-bezier(1, 0, 0.5, 1);
    transform: scaleX(0);
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    position: relative;
}

.progress-line.active {
    transform: scaleX(1);
}
.progress-line span {
            display: block;
            height: 100%;
            background: #056883;
            border-radius: 10px;
            transform: scaleX(0);
        }





















/* ---------- */
/* just for this presentation */
html { text-align:center; }
.svg-item {
  max-width:30%;
  display:inline-block;
}


/* volunteer image flip */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 0 auto;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box.auto-flip .flip-box-inner {
    animation: autoFlip 8s infinite;
  }

  @keyframes autoFlip {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% { transform: rotateY(360deg); }
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: black;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: black;
    transform: rotateY(180deg);
  }

  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

p {
  text-align: justify;
  padding-top: 20px;
}










/* Certificates Section */
.section.certificates {
    padding: 60px 0;
  }
  
  .certificates .section-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .certificate-category {
    margin-bottom: 40px;
  }
  
  .certificate-category h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
  }
  
  .certificate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .certificate-item {
    background: #2e1b32;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px; /* Adjust the width as needed */
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 2.5s ease;
  }
  
  .certificate-item.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .certificate-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .certificate-item p {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #666;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .certificate-list {
      flex-direction: column;
      align-items: center;
    }
  }
    



